/Software/lrp_toolbox-1.2.0/caffe-master-lrp/examples/
*.pyc
*.asv
/Data/
/Results/Experiments/TrianglesAndSquares/
/Papers/
/Software/.cache
/Software/ONNX
/Software/pytorch/data
/Software/pytorch/.ipynb_checkpoints/
/Software/LeafSnapDemo/.ipynb_checkpoints/
*.mat
*.dat

# Spyder project settings
.spyderproject/
.spyproject/

# PyCharm project settings
.idea/

# other
*.pickle
*.csv
*.hdf5
