Software/lrp_toolbox-1.2.0/caffe-master-lrp/examples/
*.pyc
*.asv
/Data/MNIST/images
/Data/MNIST/imageDatastores
/Data/TrianglesAndSquaresRotation/Gray/
/Data/TrianglesAndSquaresScaleRotation
/Data/CountingShapes
/Results/Experiments/TrianglesAndSquares/
/Papers/
/Software/.cache
/Software/ONNX
/Software/pytorch/data
Software/pytorch/.ipynb_checkpoints/
/Results/Experiments/TrianglesAndSquares/Binary/*.mat
/Results/Experiments/TrianglesAndSquares/Gray/*.mat
*.mat
*.dat

# Spyder project settings
.spyderproject/
.spyproject/

# PyCharm project settings
.idea/

# other
*.pickle
*.csv
*.hdf5
